:root {
    --peach-navBar: #D18E95;
    --purple-projectBackground: #7D6F93;
    --orange-educationBackground: #CC8184;
    --purple-socialsBackground: #A97B95;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.header-name {
    pointer-events: none;
    font-weight: bolder;
    font-size: 36px;
    padding-left: 2vh;
}

nav {
    background-color: #8e809a;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 75px;
    font-family: inter;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
}

nav a:hover {
    background-color: rgba(255, 141, 65, 0.363);
    transition: background-color 0.3s ease;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: #cc8183;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
    padding: 10px;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

#about {
    background-color: #a670cc93;
    color: #fff;
    min-height: 99vh;
    width: 100%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    max-width: 1000px;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.about h1 {
    font-size: 48px;
    color: #fff;
    font-family: Inter;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
}

.about p {
    color: #fff;
    align-items: center;
    margin: 10px 0;
    font-weight: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.photo-me {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    border-radius: 55px;
}

@media (max-width: 768px) {
    .about-container {
        width: 90%;
        flex-direction: column;
    }
    .about h1 {
        font-size: 32px;
    }
    .about p {
        font-size: 16px;
    }
    .photo-me {
        width: 80%;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .about h1 {
        font-size: 28px;
    }
    .about p {
        font-size: 14px;
    }
    .photo-me {
        width: 70%;
        max-width: 250px;
    }
}

.hero-section {
    background-image: url(Main\ Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    height: 99vh;
}

@media (max-width: 768px) {
    .hero-section {
        background-attachment: scroll;
        background-position: top;
    }
}

.hero-section h1, .hero-section p {
    margin: 0;
    padding-top: 130px;
}

.hero-section p {
    margin-top: -90px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.wrapper {
    background-color: #e7a270;
    width: 100%;
    height: auto;
    margin-top: -35px;
}

html {
    scroll-behavior: smooth;
}

.name {
    padding-left: 250px;
    text-decoration: none;
    display: inline;
    margin-right: 20px;
    justify-content: center;
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    top: 36px;
}

h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 128px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

p {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: -80px;
}

.button-container {
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
}

.btn-Resume {
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    opacity: 0.8;
    background: #E69180;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.btn-Contact {
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    opacity: 0.8;
    background: #8e809a;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.btn-Resume:hover,
.btn-Contact:hover {
    background-color: #6F443F;
}

body, html {
    margin: 0;
    padding: 0;
}

.section {
    height: 190vh;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Projects {
    background-color: #584871;
    color: #fff;
    height: 99vh;
    width: 100%;
    font-size: 10px;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    flex-wrap: wrap;
}

#Projects h1 {
    font-size: 48px;
    color: #fff;
    font-family: Inter;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#Projects h2 {
    font-size: 25px;
    color: #fff;
    font-family: Inter;
    margin-bottom: 20px;
}

#Projects h3 {
    font-size: 18px;
    color: #fff;
    font-family: Inter;
    margin-bottom: 20px;
    font-weight: normal;
}

.portfolio-image, .snake-image {
    width: 200px;
    height: auto;
}

.snake-project, .portfolio-project {
    text-align: center;
    flex: 1;
    max-width: 80%;
}

#Education {
    background-color: #CC8184;
    color: #fff;
    min-height: 99vh;
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 80%;
    margin: 0 auto;
}

.milner-pic {
    max-width: 50vh;
    height: auto;
}

.Education h1 {
    font-size: 2.5rem;
    color: #fff;
    font-family: Inter;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Education h2 {
    font-size: 1.45rem;
    line-height: 1.6;
    margin: 10px 0;
    max-width: 800px;
    font-family: inter;
    margin-top: -9vh;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: normal;
}

.isu-logo {
    max-width: 70%;
    height: auto;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .Education h1 {
        font-size: 2rem;
    }
    .Education h2 {
        font-size: 1rem;
    }
    .milner-pic, .isu-logo {
        width: 100%;
    }
}

.Skills {
    background-color: #504266;
    color: #fff;
    min-height: 100vh;
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.skills-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    max-width: 60%;
    margin: 0 auto;
}

.coding-logos {
    height: auto;
    max-width: 400px;
    margin: 0 auto;
    flex: 1;
    margin-top: 9vh;
}

.skills-text {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    text-align: center;
}

.Skills-header {
    font-size: 3.5em;
    text-align: left;
    margin-bottom: 20px;
}

.Languages-header {
    font-family: inter;
    font-size: 2rem;
    margin: 20px 0;
}

.divider {
    border-top: 2px solid #ffffff;
    width: 100%;
    margin: 10px 0;
}

.Languages-list {
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    font-family: inter;
    line-height: 2.0;
    word-wrap: break-word;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .Languages-list {
        font-size: 1.5rem;
        padding: 10px;
    }
}

.Developer-Tools-header {
    font-family: inter;
    font-size: 2rem;
    margin: 20px 0;
}

.Experience-With-Header {
    font-family: inter;
    font-size: 2rem;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .skills-content {
        flex-direction: column;
        align-items: center;
    }
    .skills-text, .coding-logos {
        text-align: center;
        max-width: 100%;
    }
    .coding-logos {
        margin-top: -5vh;
        width: 100%;
        height: auto;
    }
}

.Socials {
    background-color: #A97B95;
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.Socials-header {
    font-size: 4vw;
    margin-bottom: 20px;
}

.Email-icon {
    mix-blend-mode: multiply;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

a:hover .Email-icon {
    transform: scale(1.1);
}

.Instagram-icon {
    mix-blend-mode: multiply;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

a:hover .Instagram-icon {
    transform: scale(1.1);
}

.Linkedin-icon {
    mix-blend-mode: darken;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

a:hover .Linkedin-icon {
    transform: scale(1.1);
}

.Github-icon {
    mix-blend-mode: darken;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

a:hover .Github-icon {
    transform: scale(1.1);
}

.Socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.Socials img {
    width: 10vw;
    max-width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

a:hover img {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .Socials {
        flex-direction: column;
        gap: 10px;
    }
    .Socials-header {
        font-size: 6vw;
    }
    .Socials img {
        width: 20vw;
        max-width: 100px;
        transition: transform 0.3s ease;
    }
    .Github-icon {
        transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    }
    .Linkedin-icon {
        transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    }
    .Instagram-icon {
        transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    }
    .Email-icon {
        transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    }
}
